// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// couleur du fond
$color-bg: #F2F4F5;

// couleur des boutons
$green: #37A271;
$green-dark: #247E54;
$green-light: #91BAA7;
$white: #FCFCFC;

// couleur typo black et gray
$black: #363636;
$gray: #888888;

// box-shadow cards
$shadow-default: 0px 0px 5px 2px rgba(0, 0, 0, 0.1);

// couleurs accepter/en cours / refusé
$red: #EC6868;
$red-dark: #6F0606;

$blue: #9BD4E7;
$blue-dark: #1D586B;

$yellow: #FFCD70;
$yellow-dark: #7B5918;
