html, body {
  height: 100%;
  margin: 0;
  text-align: center;
}


.container {
  max-width: 90%;
  margin-top: 60px;
}

.container p {
  margin-top: 60px;
  font-size: 30px;
}

img, svg {
  vertical-align: middle;
  object-fit: cover;
}

h1 {
  font-family: $title-font;
}

h3 {
  font-family: $title-font;
}
