<div class="navbar">
  <div class="navbar-links">
    <div>
      <%= link_to image_tag("icon-diag.svg", width: "100%", height: "100%"), new_diagnostic_path %>
    </div>
    <div>
      <%= link_to image_tag("icon-echanges-black.svg", width: "100%", height: "100%"), assignations_path  %>
    </div>
    <div>
      <%= link_to image_tag("icon-dossier-patient-black.svg", width: "100%", height: "100%"), patients_path %>
    </div>
    <div>
      <%= link_to image_tag("icon-profil.svg", width: "100%", height: "100%"), "#" %>
    </div>
  </div>
</div>
