<nav class="upperbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid d-flex justify-content-center">
      <%= link_to root_path, class: "navbar-brand brand-bold" do %>
        <%= image_tag('med-ia-logo-typo.png', alt: 'MED-IA Logo', class: 'navbar-logo', style: 'height: 25px; width: auto;') %>
      <% end %>
  </div>
</nav>
