<nav class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">

      <%= link_to root_path, class: "navbar-brand brand-bold" do %>
        <%= 'MED-IA' %>
      <% end %>
  </div>
</nav>
