<div class="container">
  <h1><%= image_tag("med-ia_logo_removebg.png", width: 320, height: 245) %></h1>
  <p>Diagnostics plus rapides et plus précis!</p>
  <div class="input-group d-flex justify-content-center">
    <div class="form-outline search-container" data-mdb-input-init>
      <div class="search-icon">
        <i class="fa-solid fa-magnifying-glass"></i>
      </div>
      <input id="search-input" type="search" class="form-control search-input" placeholder="Rechercher...">
    </div>
  </div>
</div>
