<h1>Welcome to patients#index</h1>

<%# montrer la liste des patient %>
<ul class="list-group list-group-flush" >
  <% @patients.each do |patient| %>
    <li class="list-group-item margin-correction">

      <div class="row mt-1 patient-card">
        <div class="col-8">
          <div class="d-flex flex-column align-items-start ">
            <h5><%= patient.first_name %> <%= patient.last_name %></h5>
            <p><%= patient.date_of_birth %></p>
          </div>
        </div>

        <div class="col-4 d-flex justify-content-end ">
        <div class="">
          <button class="btn-small">
            details
             <% patient_path(patient) %>
          </button>
        </div>

        </div>
      </div>
    

    </li>
  <% end %>
</ul>
