.badge-success {
  background-color: $blue;
  color: $blue-dark;
  border-radius: 10px;
}

.badge-danger {
  background-color: $red;
  color: $red-dark;
  border-radius: 10px;
}

.badge-warning {
  background-color: $yellow;
  color: $yellow-dark;
  border-radius: 10px;
}

.card-success {
  border: 1px solid $blue;
}

.card-danger {
  border: 1px solid $red;
}

.card-warning {
  border: 1px solid $yellow;
}
