.patient-card-historique {
  width: 22rem;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.historique-details {
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  flex-direction: column;

  h3 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    color: black;
    padding-bottom: 4px;
  }

  p {
    color: black;
    font-size: 16px;
    margin: 0;
  }

}


.patient-card-details {
  width: 22rem;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.patient-card {
  h5 {
    font-size: 1rem;
    padding: 0px;
    margin-bottom: -0.1em;
  }
  p {
    font-size: 0.8rem;
    padding: 0px;
    color: $gray;
  }

  button {
    color: white;
    font-size: 14px;
  }
}

.patient-card-list {
  padding: 1em;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 0.8em;
  margin-bottom: 0.5em;
  border-radius: 0.8em;
  box-shadow: $shadow-default;
  background-color: white;
}

.list-group-flush {
  border-radius: 0.8em;
  margin-bottom: 5em;
}
