.custom-card {
  width: 22rem;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.age {
  margin: 0;
  font-size: 14px;
  color: $gray;
}

.time {
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}
