

.custom-card-accepted {
  position: relative;
  width: 22rem;
  border-radius: 10px;
  box-shadow: $shadow-default;
  background-color: white;
}

.accepted-card {
  position: relative;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;

  .badge-success {
    background-color: $blue;
    color: $blue-dark;
    border-radius: 10px;
    z-index: 10;
  }

  .badge-danger {
    background-color: #dc3545;
    color: white;
    border-radius: 10px;
  }

  .badge-warning {
    background-color: #ffc107;
    color: black;
    border-radius: 10px;
  }


  .status-badge {
    position: absolute;
    top: 0px;
    right: -9px;
  }

}

.accepted-details {
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  flex-direction: column;

  h3 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    color: black;
    padding-bottom: 4px;
  }

  h6 {
    color: $gray;
  }

  p {
    color: black;
    margin: 0;
  }

}
