.search-container {
  position: relative;
  margin-top: 40px;

  .search-icon {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 17px;
    transform: translateY(-50%);
  }

  .search-input {
    opacity: 0.15;
    padding-left: 50px;
    background-color: #8BBFA7;
    font-size: 24px;
  }

  .search-input::placeholder {
    color: black;
  }

}
