.card-diagnostic {
  padding: 1em;
  margin: 1em;
  border-radius: 0.8em;
  background-color: white;
  display: flex;
  flex-direction: column;
  text-align: left;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1);
}

ul {
  padding-left: 0px;

    > a {
      text-decoration: none;
      color: inherit;
    }
}

.header-diagnostic {
  font-size: 1rem;
  padding-top: 4px;
  border-bottom: 0.5px solid grey;
}


.diagnostic-specialist-card {
  list-style: none;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}

.card-diagnostic-container {
  padding: 1em 1em ;
  border-radius: 0.8em;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1);
  margin-top: 1em;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
  background-color: white;

  h6 {
    color: grey;
  }

}

.diagnostic-specialist-card > li {
  display: flex;
}

.card-diagnostic-container > a {
  text-decoration: none;
  color: $dark;
}

.address {
  display: flex;
  flex-direction: column
}

.fix {
  display: flex;
  justify-content: center;
  align-items: center;
}

.diagnostic-specialist-card p {
  text-align: right;
  font-size: 0.8em;
  color: black;
}

.diagnostic-specialist-card:active {
  background-color: $green-dark;
}
