* {
  color: $black;
}

.card-diagnostic {
  padding: 1.2em;
  margin: 1.2em;

  border-radius: 0.8em;
  background-color: $white;
  display: flex;
  flex-direction: column;
  text-align: left;
  box-shadow: $shadow-default;
  li {
    margin-bottom: 1.2em;
  }
}

ul {
  padding-left: 0px;

    > a {
      text-decoration: none;
      color: inherit;
    }
}



.diagnostic-specialist-card {
  list-style: none;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}

.card-diagnostic-container {
  padding: 1em 1em ;
  border-radius: 0.8em;
  box-shadow: $shadow-default;
  margin-top: 1em;
  justify-content: space-between;
  background-color: $white;

  h6 {
    color: $gray;
  }

}

.card-diagnostic-container:active {
  border: 1px solid $green-light;
  transform: translateY(-3px) !important;
}

.diagnostic-specialist-card > li {
  display: flex;
}

.card-diagnostic-container > a {
  text-decoration: none;
  color: $dark;
}

.address {
  display: flex;
  flex-direction: column
}

.fix {
  display: flex;
  justify-content: center;
  align-items: center;
}

.diagnostic-specialist-card p {
  text-align: right;
  font-size: 0.8em;
  color: $black;
}


h2 {
  padding-bottom: 0.5em;
  font-size: 1.3em;
  border-bottom: 1px solid $green-dark;
}

// modale de contacter

.card-modal {
  padding: 1em;
  margin: 1em;
  margin-top: 30vh;
  text-align: center;
}

.radius {
  border-radius: 0.8em;
}
