.navbar-lewagon {
  justify-content: space-between;
  background: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.brand-bold {
  font-weight: bold;
  font-size: 24px;
  color: #333;
  text-transform: uppercase;
}

.upperbar {
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 60px;
  padding: 0px 40px;
  color: rgba(0, 0, 0, 0.8);
  margin-top: 0%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
}
